
.pokeindex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  height: inherit;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  font-size: 75px;
  padding: 2px;
  max-height: 250px;
  max-width: auto;

}
.blue {
  color: #4285F4;
}
.green {
  color: #0F9D58;
}
.yellow {
  color: #F4B400;
}
.red {
  color: #DB4437;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 584px;
  height: 44px;
  padding-left: 10px;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.searchbox{

  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;

  
}
.pokemonmain { 

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  height: inherit;
 

}
.pokecard {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    height: inherit;
    padding: 5px;

}
a {
  text-decoration: none;
}
h3.pokename {
  font-size: 14px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  color: #3c4043;
  text-align: center;
}

.pokeshow{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


